* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  background-color: white;
  width: 12px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  border-radius: 5px;
}
